/**********************************/
/*BEGIN basic setup for all the elements*/
/**********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  color: #fff; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* ie 6/7 */ }

.row {
  max-width: 980px;
  margin: 0 auto; }

/**********************************/
/*END basic setup*/
/**********************************/
/**********************************/
/*BEGIN header section*/
/**********************************/
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/auckland.jpg) no-repeat center;
  background-size: cover;
  height: 100vh; }

.logo {
  width: 70px;
  height: auto;
  float: left;
  marigin: 0; }

.mainNav {
  margin-top: 15px;
  float: right;
  list-style-type: none; }
  .mainNav li {
    display: inline-block;
    margin-left: 40px; }
    .mainNav li a:link,
    .mainNav li a:visited {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 100%;
      padding: 2px 3px;
      font-weight: 300; }
    .mainNav li a::after {
      content: '';
      display: block;
      width: 0;
      margin-top: 5px;
      height: 2px;
      background: #fff;
      transition: width .5s; }
    .mainNav li a:hover::after,
    .mainNav li a:active::after {
      width: 100%; }

nav {
  margin-top: 40px; }

.heroTextBox {
  width: 980px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .heroTextBox h1 {
    font-weight: 300;
    font-size: 250%;
    text-transform: uppercase;
    word-spacing: 10px; }
  .heroTextBox p {
    font-size: 120%;
    font-weight: 300;
    line-height: 180%; }
  .heroTextBox .btn-cv:link,
  .heroTextBox .btn-cv:visited {
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    background: #c0392b;
    border-radius: 10px;
    font-size: 140%;
    font-weight: 300;
    display: inline-block;
    margin-top: 20px;
    transition: all 0.7s; }
  .heroTextBox .btn-cv:hover,
  .heroTextBox .btn-cv:active {
    background-color: #6d2018;
    border-radius: 30px; }
  .heroTextBox .social {
    margin-top: 20px; }
    .heroTextBox .social .fa {
      color: #fff;
      font-size: 220%;
      margin-right: 30px; }
    .heroTextBox .social .fa::after {
      content: '';
      display: block;
      width: 0;
      margin-top: 5px;
      height: 2px;
      background-color: #fff;
      transition: all .5s; }
    .heroTextBox .social .fa:hover::after {
      width: 100%; }

/**********************************/
/*END header section*/
/**********************************/
/**********************************/
/*BEGIN intro section*/
/**********************************/
.aboutMe {
  color: #000; }
  .aboutMe .leftPanel {
    margin: 0 auto; }
    .aboutMe .leftPanel .panelText {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 490px;
      margin-left: auto;
      padding-right: 25px; }
      .aboutMe .leftPanel .panelText h2 {
        display: inline-block;
        font-size: 200%;
        margin-bottom: 25px; }
        .aboutMe .leftPanel .panelText h2 .blinkCursor {
          font-weight: 100;
          color: #2E3D48;
          -webkit-animation: 1s blink step-end infinite;
          -moz-animation: 1s blink step-end infinite;
          -ms-animation: 1s blink step-end infinite;
          -o-animation: 1s blink step-end infinite;
          animation: 1s blink step-end infinite; }
      .aboutMe .leftPanel .panelText p {
        line-height: 160%;
        font-size: 110%;
        font-weight: 300;
        margin-bottom: 20px; }
      .aboutMe .leftPanel .panelText .btn-me:link,
      .aboutMe .leftPanel .panelText .btn-me:visited {
        text-decoration: none;
        color: #fff;
        padding: 10px 10px;
        background: #c0392b;
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 110%;
        display: inline-block;
        transition: all 0.7s; }
      .aboutMe .leftPanel .panelText .btn-me:hover,
      .aboutMe .leftPanel .panelText .btn-me:active {
        background-color: #6d2018;
        border-radius: 30px; }
  .aboutMe .rightPanel {
    background: url(../img/desktop.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    width: 50.8%; }

@keyframes "blink" {
  from,
    to {
    color: transparent; }
  50% {
    color: black; } }
@-moz-keyframes blink {
  from,
    to {
    color: transparent; }
  50% {
    color: black; } }
@-webkit-keyframes "blink" {
  from,
    to {
    color: transparent; }
  50% {
    color: black; } }
@-ms-keyframes "blink" {
  from,
    to {
    color: transparent; }
  50% {
    color: black; } }
@-o-keyframes "blink" {
  from,
    to {
    color: transparent; }
  50% {
    color: black; } }
/**********************************/
/*END intro section*/
/**********************************/
/**********************************/
/*BEGIN motto section*/
/**********************************/
.motto {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/feet.jpeg) no-repeat center;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .motto div {
    padding: 30px;
    border-radius: 10px;
    width: 980px;
    background-color: rgba(255, 255, 255, 0.3); }
    .motto div h2 {
      font-size: 200%;
      font-weight: 300; }
    .motto div cite {
      text-align: right;
      display: block;
      font-size: 130%; }

/**********************************/
/*END motto section*/
/**********************************/
/**********************************/
/*BEGIN projects section*/
/**********************************/
.projects {
  color: #000; }
  .projects h2 {
    width: 980px;
    margin: 50px auto;
    text-transform: uppercase;
    font-size: 180%; }
    .projects h2 .fa {
      margin-right: 12.5px; }
  .projects h2::after {
    content: '';
    display: block;
    width: 30%;
    height: 3px;
    background-color: #000;
    margin-top: 12.5px; }
  .projects .row {
    margin: 25px auto; }
    .projects .row .projectItem {
      width: 48%;
      margin-left: 4%;
      box-shadow: 0px 1px 10px #000;
      transition: box-shadow 0.3s;
      margin-bottom: 25px; }
      .projects .row .projectItem p {
        font-weight: 300;
        font-size: 110%;
        line-height: 150%;
        padding: 0 10px;
        margin: 12.5px 0; }
      .projects .row .projectItem .btn-takeLook:link,
      .projects .row .projectItem .btn-takeLook:visited {
        text-decoration: none;
        color: #fff;
        padding: 6px 10px;
        background: #3498db;
        border-radius: 10px;
        font-weight: 300;
        font-size: 100%;
        margin: 16.66667px auto 25px 10px;
        display: inline-block;
        box-shadow: 0px 0px 10px #000;
        transition: all .5s;
        text-transform: uppercase; }
      .projects .row .projectItem .btn-takeLook:hover,
      .projects .row .projectItem .btn-takeLook:active {
        border-radius: 30px;
        box-shadow: 0px 20p 40px #000;
        background-color: #2980b9; }
    .projects .row .projectItem:hover {
      box-shadow: 0px 5px 30px #000; }
    .projects .row .projectItem:first-child {
      margin-left: 0; }

/**********************************/
/*END projects section*/
/**********************************/
/**********************************/
/*BEGIN photos section*/
/**********************************/
.photos {
  background-color: #000; }
  .photos h2 {
    width: 980px;
    margin: 50px auto;
    text-transform: uppercase;
    font-size: 180%; }
    .photos h2 .fa {
      margin-right: 12.5px; }
  .photos h2::after {
    content: '';
    display: block;
    width: 30%;
    height: 3px;
    background-color: #fff;
    margin-top: 12.5px; }
  .photos .slideshow-container {
    max-width: 980px;
    position: relative;
    margin: auto; }
    .photos .slideshow-container .slides {
      display: none; }
      .photos .slideshow-container .slides .text {
        color: #fff;
        font-size: 120%;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        font-weight: 300;
        background-color: rgba(255, 255, 255, 0.3); }
      .photos .slideshow-container .slides .numbertext {
        color: #fff;
        font-size: 60%;
        padding: 8px 12px;
        position: absolute;
        top: 0; }
    .photos .slideshow-container .prev,
    .photos .slideshow-container .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: #fff;
      font-weight: bold;
      font-size: 120%;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0; }
    .photos .slideshow-container .next {
      right: 0;
      border-radius: 3px 0 0 3px; }
    .photos .slideshow-container .prev:hover,
    .photos .slideshow-container .next:hover {
      background-color: rgba(0, 0, 0, 0.8); }
    .photos .slideshow-container .dot {
      cursor: pointer;
      height: 13px;
      width: 13px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease; }
    .photos .slideshow-container .active,
    .photos .slideshow-container .dot:hover {
      background-color: #717171; }
    .photos .slideshow-container .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 2s;
      animation-name: fade;
      animation-duration: 2s; }
  .photos .photoIntro {
    width: 980px;
    margin: 25px auto 50px auto; }
    .photos .photoIntro p {
      font-weight: 300;
      font-size: 120%;
      line-height: 150%;
      margin-bottom: 25px; }
    .photos .photoIntro .btn-flickr:link,
    .photos .photoIntro .btn-flickr:visited {
      text-decoration: none;
      color: #fff;
      padding: 7px 10px;
      background: #c0392b;
      border-radius: 10px;
      font-size: 110%;
      font-weight: 300;
      display: inline-block;
      text-transform: uppercase;
      transition: all 0.5s; }
    .photos .photoIntro .btn-flickr:hover,
    .photos .photoIntro .btn-flickr:active {
      background-color: #6d2018;
      border-radius: 30px; }

@-webkit-keyframes fade {
  from {
    opacity: 0.1; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0.1; }
  to {
    opacity: 1; } }
/**********************************/
/*END photos section*/
/**********************************/
/**********************************/
/*BEGIN footer section*/
/**********************************/
footer {
  color: #000; }
  footer .row {
    margin: 50px auto; }
    footer .row .contact {
      text-align: center;
      box-shadow: 0px 0px 0px #000;
      transition: all 0.5s; }
      footer .row .contact h2 {
        text-transform: uppercase;
        margin-bottom: 25px; }
      footer .row .contact p {
        font-weight: 300;
        line-height: 200%;
        font-size: 100%; }
      footer .row .contact .fa {
        margin-right: 10px; }
      footer .row .contact .fa-mobile {
        font-size: 150%; }
      footer .row .contact .footerSocial {
        margin-bottom: 25px; }
        footer .row .contact .footerSocial .fa {
          line-height: 200%;
          font-size: 180%;
          color: #000;
          border-bottom: 2px solid #fff;
          transition: all 0.5s;
          margin-right: 16.66667px; }
        footer .row .contact .footerSocial .fa:hover,
        footer .row .contact .footerSocial .fa:active {
          border-bottom: 2px solid #000; }
    footer .row .contact:hover {
      box-shadow: 0px 10px 30px #000; }
    footer .row .footerNav {
      box-shadow: 0px 0px 0px #000;
      transition: all 0.5s;
      text-align: center; }
      footer .row .footerNav .footerLogo {
        width: 50px; }
      footer .row .footerNav ul {
        list-style: none;
        margin-bottom: 25px; }
        footer .row .footerNav ul li {
          margin: 10px 0; }
          footer .row .footerNav ul li a {
            text-decoration: none;
            color: #000;
            font-size: 120%;
            font-weight: 300;
            border-bottom: 2px solid #fff;
            transition: all 1s; }
          footer .row .footerNav ul li a:hover {
            border-bottom: 2px solid #000; }
    footer .row .footerNav:hover {
      box-shadow: 0px 10px 30px #000; }
    footer .row .selfie {
      text-align: center; }
      footer .row .selfie img {
        width: 60%;
        border-radius: 100%;
        box-shadow: 0 1px 10px #000;
        transition: all .5s;
        margin-bottom: 25px; }
      footer .row .selfie img:hover {
        box-shadow: 0 10px 30px #000; }
  footer .rights {
    text-align: center; }

/**********************************/
/*END footer section*/
/**********************************/

/*# sourceMappingURL=main.css.map */
