/********************************/


/*basic setup*/


/********************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}


.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
	/* ie 6/7 */
}

/********************************/


/*header section*/


/********************************/


/*header background*/

header {
    background-image: linear-gradient(rgba( 0, 0, 0, 0.7), rgba( 0, 0, 0, 0.7)), url(../img/heroImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
     display: flex;
      justify-content: center;
      align-items: center;
}
/*end*/


/*heroTextbox*/

.heroTextBox {
    width: 1140px;
}

.heroTextBox h2 {
    font-size: 230%;
    margin: 0;
    font-weight: 300;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.heroTextBox p {
    font-size: 90%;
    margin: 20px 0;
    line-height: 150%;
}


/*end*/


/*cv btn styles*/

.btn-cv:link,
.btn-cv:visited {
    background-color: #c0392b;
    color: #fff;
    transition: background-color 1s;
}

.btn-cv:hover,
.btn-cv:active {
    background-color: #6d2018;
}


/*end*/


/*social link*/

.social {
    margin-top: 30px;
}

.social a:link,
.social a:active {
    font-size: 170%;
    margin: 0;
    padding: 10px 0;
    margin-right: 25px;
    border-bottom: 2px solid rgba( 255, 255, 255, 0);
    -webkit-transition: border-bottom 1.5s;
    transition: border-bottom 1s;
}

.fa {
    color: #fff;
}

.social a:hover,
.social a:active {
    border-bottom: 2px solid #fff;
}


/*end*/


/********************************/


/*about me section*/


/********************************/


/*about me font color setup*/

.aboutMe {
    color: black;
}


/*end*/


/*left panel with text*/

.leftPanel {
    height: 70vh;
}

.panelText {
    width: 570px;
    margin: 10% 0 0 auto;
    padding: 5% 10% 10% 0;
    font-weight: 300;
}

.panelText h2 {
    padding: 0 0 0 15px;
    border-left: 5px solid #c0392b;
    margin-bottom: 15px;
}

.panelText p {
    line-height: 150%;
    font-weight: 300;
    padding-left: 20px;
    word-spacing: 1px;
}


/*end*/


/*right panel*/

.rightPanel {
    height: 70vh;
    background-image: url(../img/desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*end*/


/********************************/


/*personal motto section*/


/********************************/


/*motto background*/

.motto {
    background-image: linear-gradient(rgba( 0, 0, 0, 0.75), rgba( 0, 0, 0, 0.75)), url(../img/feet.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}


/*end*/


/*motto text part*/

.motto h2 {
    line-height: 200%;
    font-weight: 300;
    font-size: 150%;
    width: 1140px;
    margin: 0 auto;
    padding-top: 30vh;
}


/*end*/


/********************************/


/*projects*/


/********************************/


/*projects background*/

.projects {
    background-color: #000;
    height: 70vh;
}


/*end*/


/********************************/


/*footer*/


/********************************/


/*footer*/

footer {
    background-color: #000;
    padding: 20px 0;
}

footer p {
    font-size: 80%;
}


/*end*/


/********************************/


/*reusable componment*/


/********************************/


/*buttons basic style*/

.btn {
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
}


/*end*/


/*white logo*/

.logo {
    width: 80px;
    height: auto;
    float: left;
    margin-top: 40px;
}


/*end*/


/*black logo*/

.logoBlack {
    width: 60px;
    height: auto;
    float: left;
    margin-top: 10px;
}


/*end*/


/********************************/


/*animation*/


/********************************/


/*left panel text animation (fade in)*/

.js--panelText {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s
}

.js--panelText .animated {
    opacity: 1;
}


/*end*/


/***************/


/*old version navigation bar*/


/***************/


/*

.mainNav {
    list-style-type: none;
    float: right;
    margin-top: 50px;
}

.mainNav li {
    display: inline-block;
    margin-left: 40px;
}

.mainNav li a:link,
.mainNav li a:visited {
    color: #fff;
    text-decoration: none;
    font-size: 80%;
    text-transform: uppercase;
    padding: 1px 2px;
}

.mainNav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.mainNav li a:hover::after,
.mainNav li a:active::after {
    width: 100%
}

.mobile-nav-icon{
    float: right;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i{
    font-size: 200%;
    color: #fff;
    
}



.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba( 255, 255, 255, 0.95);
    box-shadow: 0 3px 3px #cccccc;
    z-index: 999;
}

.sticky .mainNav {
    margin-top: 15px;
}

.sticky .mainNav li a:link,
.sticky .mainNav li a:visited {
    color: #555;
}

.sticky .mainNav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #555;
    transition: width .3s;
}

.sticky .mainNav li a:hover::after,
.sticky .mainNav li a:active::after {
    width: 100%
}

.sticky .logo {
    display: none;
}

.sticky .logoBlack {
    display: block;
}

*/
